
body{
  color: #40514E;
  margin: 0 ;
  text-align: center;
  font-family: 'Merriweather', serif;
}


h1{
margin: 50px auto 0;
font-family: 'Sacramento', cursive;
font-size: 5rem;
color: #161E54;

}

h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #161E54;
  font-weight: normal;
  padding-bottom: 10px;
}

h3{
  font-family: 'Montserrat', sans-serif;
  color: #88E0EF;

}

a{
  color: #11999E;
  text-decoration: none;
  margin: auto 10px 20px;
}
a:hover{
  color: #EAF6F6;
}

span{
  text-decoration: underline;
}




hr{
  border: dotted 8px;
  border-bottom: none;
  width: 4%;
  color: #EAF6F6;
  margin: 100px auto;
}


p{
  line-height: 2;
}




/* CSS Classis */

.top-container{
  padding-top: 100px;
  background-color: #88E0EF;
  position: relative;

}

.middle-container{
  padding: 100px 0;


}

.bottom-container{
  background-color: #66BFBF;
  padding: 60px 0 20px;

}

.top-cloud{
  top: 50px;
  right: 400px;
  position: absolute;

}


.bottom-cloud{
  position: absolute;
  left: 400px;
  bottom: 300px;
}


/********* images styles **********/

.as{
width: 200px;
height: 200px;
border-radius: 50%;
object-fit: cover;
filter: drop-shadow(1px 1px 8px #88E0EF);
}

.intro{
  width: 30%;
  margin: 40px auto 60px;
}


.html5-logo{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  float: left;
  margin: 20px;
}

.css-logo{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  float: right;
}

.js-logo{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  float: left;
  margin: 20px;
}

 /* span text */


 .aprasas{
   font-weight: bold;
 }


 .skill-row{
   width: 40%;
   margin: 100px auto 100px;
   text-align: left;

 }



 .btn {
   display: inline-block;

  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;

}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}


.copy-right{
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}
